.root {
    display: grid;
    grid-auto-columns: 1.75rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0.25rem;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid #ccc;
    text-align: center;
}

.tileButton {
    grid-row-start: 1;
    outline: none;
}

.tileMarker {
    border: 0.05rem solid;
    bottom: 0.75rem;
    color: rgb(var(--miss-alice-gold-rgb));
    height: 1.75rem;
    position: absolute;
    width: 1.75rem;
}

.tileMarker:before {
    border: 0.05rem solid;
    bottom: 0;
    color: rgb(var(--miss-alice-gold-rgb));
    content: '';
    height: 1.75rem;
    left: -0.1rem;
    position: absolute;
    transform: rotate(-10deg);
    width: 1.75rem;
}
